/* 175cab8fddb544eb462bd26a779524187cd8258e8f62bf23851431279216b492ff5fd2062
 */

* {
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgba(255, 245, 224,1);
}

.navbar {
    background-color: #C70039;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar div {
    color: white;
    font-size: 1.2rem;
}

.navbar div a{
    color: white;
    text-decoration: none;
}

.navbar div a:hover{
    font-size: 1.1rem;
    transition: 500ms;
    color: rgb(107, 106, 106);
}


.root {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 20px;
}

.characters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.characters-container img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 25px;
    padding: 2rem;
}



.characters-container a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}






